<a href="https://colab.research.google.com/github/prinson001/pythonworkshop/blob/main/prince.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

hello world pro

In [ ]:
x=10
y="prince"
print(x,y)
print(y)
a=input("enter the value")
type(a)

10 prince
prince
enter the valueprinvr

str

In [ ]:
x,y,z="10","20","300"
print(x)
print(y)
print(z)

10
20
300

#exercise1


```
# This is formatted as code
```

In [ ]:
carname="volvo"
print(carname)
print(type(x))

volvo
<class 'int'>

#exercise 2

In [ ]:
x=50
print(x)
print(type(x))

50
<class 'int'>

#exercise3

In [ ]:
x=5
y=10
sum=x+y;
print(sum)

15

In [ ]:
x,y=11,17
sum=(x+y)
print("sum is" ,sum)

sum is 28

In [114]:
x1="hello world"
x2=10
x3=10.1
x4=["apple","banana","cherry"]
x5=("apple","banana","cherry")
x6=range(6)
x7={"name":"johnwick","age":36}
x8={"apple","banana","cherry"}
x9=True
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))
print(type(x6))
print(type(x7))
print(type(x8))
print(type(x9))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'bool'>

In [115]:
x=1
y=2.8
1j
a=float(x)
b=int(y)
c=complex(x)
print(a)
print(b)
print(c)

1.0
2
(1+0j)

In [112]:
x=1.10
y=1.0
z=-35.5
print(type(z))
x4={"x","y","z"}
a=range(1,5,2)
print(list(a))

<class 'float'>
[1, 3]

In [120]:
x=int(1)
y=int(2.8)
z=int("3")
print(x,y,z)

a=float(1)
b=float(2.5)
c=float("3")
d=float("4.2")
print(a,b,c,d)


e=str("n1")
f=str(2)
g=str(3.0)
print(e,f,g)

1 2 3
1.0 2.5 3.0 4.2
n1 2 3.0

In [126]:
x,y="2","3"
c=x+y
print("x+y=" +c)

x+y=23

In [149]:
name="hello world"
print(name[-11])
print(len(name))
print(name[0:1])
print(name.upper())
print(name.lower())

h
11
h
HELLO WORLD
hello world

In [150]:
a="hello "
b="world"
c=a+b
print(c)

hello world

In [157]:
age=36
txt="my name is abhay,and i am{}"
print(txt.format(age))

my name is abhay,and i am36

In [164]:
a="hello1"
a.upper()
print(a.upper())

HELLO1

In [192]:
name="alvas"
print(len(name))
print(name.upper())
b=" college"
print("after concatination "+name+b)
c=name+b
print(c)
print(c.isdigit())
print(c[0:5])
d=name+ "{}"
print(d.format(b))

5
ALVAS
after concatination alvas college
alvas college
False
alvas
alvas college

In [202]:
x=5
y=3
print
print(x)

5
8

In [212]:
print(3<0 and 4>5)
print(not(2>1))

False
False

In [ ]:
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=a+b
d=a-b
e=a*b
f=a/b
print("addition is",c)
print("substraction is",d)
print("multiplication is",e)
print("divison is",f)

In [250]:
l=["1","2","3","4","5","6"]
print(l)
l[1:3]=["hello","hii","hiii"]
print(l)
l.append("90")
print(l)
tropical=["zpm"]
l.extend(tropical)
print(l)
new=l+tropical
print(new)
new.pop(0)
print(new)
new.pop()
print(new)
new.pop()
print(new)

['1', '2', '3', '4', '5', '6']
['1', 'hello', 'hii', 'hiii', '4', '5', '6']
['1', 'hello', 'hii', 'hiii', '4', '5', '6', '90']
['1', 'hello', 'hii', 'hiii', '4', '5', '6', '90', 'zpm']
['1', 'hello', 'hii', 'hiii', '4', '5', '6', '90', 'zpm', 'zpm']
['hello', 'hii', 'hiii', '4', '5', '6', '90', 'zpm', 'zpm']
['hello', 'hii', 'hiii', '4', '5', '6', '90', 'zpm']
['hello', 'hii', 'hiii', '4', '5', '6', '90']

In [301]:
l=[1,220,3,5,5,32,25,26,79,]
l.reverse()
print(l)
l.append(5)
print(l[2])
print (l[1])

[79, 26, 25, 32, 5, 5, 3, 220, 1]
25
26

In [263]:

l=['harsh','pratik','bob','dhru']
print(l)
print (l[1])

['harsh', 'pratik', 'bob', 'dhru']
pratik

In [267]:
animal=['cat','dog','fish','goat']
age=[1,23,3,6]
c=animal+age
print(c)
animal.extend(age)
print(animal)

['cat', 'dog', 'fish', 'goat', 1, 23, 3, 6]
['cat', 'dog', 'fish', 'goat', 1, 23, 3, 6]

In [281]:
age=[1,2,3,6,2,2]
print(age)
age.append(9)
print(age)
age.pop(2)
print(age)
print(age.count(2))
print(age)

[1, 2, 3, 6, 2, 2]
[1, 2, 3, 6, 2, 2, 9]
[1, 2, 6, 2, 2, 9]
3
[1, 2, 6, 2, 2, 9]

In [291]:
l=("list",1,2,3,4,5)
print(l)
print(l[1])
print(l[0])
print(l[4])
print(l[5])
y=list(l)
print(y)
y[1]="hello"
print(y)
z=tuple(y)
print(z)

('list', 1, 2, 3, 4, 5)
1
list
4
5
['list', 1, 2, 3, 4, 5]
['list', 'hello', 2, 3, 4, 5]
('list', 'hello', 2, 3, 4, 5)

In [299]:
fruits=("apple","banana","cherry")
print(fruits)
k=list(fruits)
print(k)
k[1]="orange"
print(k)
fruits=tuple(k)
print(fruits)

('apple', 'banana', 'cherry')
['apple', 'banana', 'cherry']
['apple', 'orange', 'cherry']
('apple', 'orange', 'cherry')